flake8==5.0.4
future==0.18.2
iso8601==1.0.2
mccabe==0.7.0
mypy==0.971
mypy-extensions==0.4.3
psutil==5.9.2
pycodestyle==2.9.1
pyflakes==2.5.0
pyserial==3.5
pywin32==304
PyYAML==6.0
tomli==2.0.1
typing_extensions==4.3.0
